@use '../../scss/index' as *;

.app__cart-products {
  @include flex(space-between, flex-end, column);
  box-shadow: 0 0 20px $box-shadow;

  flex: 2;
  height: calc(100vh - (200px + 2rem));

  padding: 2rem 4rem;
}

.app__cart__products-container {
  height: 100%;

  overflow-y: auto;

  margin-bottom: 1rem;
}

