@use '../../scss/index' as *;

.app__cart-products {
  @include flex(space-between, flex-end, column);
  box-shadow: 0 0 20px $box-shadow;

  flex: 2;
  height: calc(100vh - (200px + 2rem));

  padding: 2rem 4rem;
}

.app__cart__products-container {
  height: 100%;

  overflow-y: auto;

  margin-bottom: 1rem;
}

.app__cart__product {
  box-shadow: 0 0 20px $box-shadow;
  border-radius: 20px 20px 0 0;

  width: 100%;

  padding: 20px;

  @include flex(space-between, center, row);
  gap: 2rem;
}

.app__cart__product-image {
  img {
    width: 300px;
    height: auto;

    object-fit: cover;
    border-radius: 15px;
  }
}

.app__cart__product-content {
  @include flex(flex-start, center, column);
  gap: 1rem;
}

.app__cart__product-setcount {
  box-shadow: 0 0 20px $box-shadow;
  border: 1px solid #efefef;

  border-radius: 10px;

  padding: 5px 10px;
}

.app__cart-products-submit {
  background: black;

  border-radius: 10px;

  padding: 10px 20px;

  &:hover, button {
    cursor: pointer;
  }

  button {
    @include font(18, bold, white);
  }
}

