@use "../../scss/index" as *;

.app__navbar {
  width: 100%;
  height: 100px;

  box-shadow: 0 0 20px $box-shadow;

  margin-bottom: 2rem;
}

.app__navbar-links {
  @include flex(flex-start, center, row);

  width: 1400px;
  height: 100%;

  margin: 0 auto;

  .app__navbar-link {
    @include font(20, 500, black);
  }

  .app__navbar-link.active {
    position: relative;
    &:after {
      content: "";

      width: 100%;
      height: 2px;

      position: absolute;
      bottom: -10px;
      left: 0;

      background: black;
    }
  }

  span {
    margin: 0 2rem;
    @include font(20, 600, black);
  }
}
